@CHARSET "ISO-8859-1";
html, body {
    margin: 0;
    padding: 0
}
body
{
    background-color: #F2EEEA;
    padding-top: 60px;
    'font-family: "Gill Sans";
}
#headerText
{
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	color: red;
	font-size: 100pt;
}
#mainText
{
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	color: #333333;
	font-size: 150px;
	font-weight: 700;
	font-style: normal;
}
#footerText
{
	font-family: Menlo,"Deja Vu Sans Mono","Bitstream Vera Sans Mono",Monaco,monospace;
	color: black;
	font-size: 80pt;
}
/*
http://www.colourlovers.com/digital-art/trends/branding/7883/Delicious_Logo
colour for masthead 5F5E5D 
*/
#headerBar {
    height: 40px;
    background: blue
}
#footerBar {
    height: 40px;
    background: red
}
#benspointer {
    cursor:pointer;
}
#documentControls {
    float: right;
}
.ben-text-container {
    /*background-color: white;*/
    background-color: #F2EEEA;
    padding: 5px;
}
/*
.theme-showcase {
    background-color: #2A363B;
}*/
/* lets override a few bootstrap styles */
.jumbotron {
    /*background-color: #E87162;*/
    background-color: #B4B2AE;
}
/*
.myfooter {
    font-size: 8pt;
    background-color: #FECEA8;
}*/
.img-circle {
    float: right;
    margin: 0 0 10px 10px;
    border-radius: 50%;
}